body {
  /*margin-top: 10px;
  margin-bottom: 10px;*/
  background: none;
  /*font-family: 'Roboto', sans-serif;*/
}
html { 
/*background: url('../img/bg_.jpg') no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
*/}
.logos {
  padding-top: 10px;
  padding-bottom: 10px; 
  /*background-color: #eee;
  border: 1px solid #ddd;
  background-color: rgba(238,238,238,.15);
  border: 1px solid rgba(86,61,124,.2);*/
}
.mynav {
  background-color: #eee;
  border: 1px solid #ddd;
  background-color: rgba(238,238,238,.5);
  border: 1px solid rgba(86,61,124,.2); 
}
.navbar-default .mynavlinks>li>a {
  color: #111;
  font-weight: bolder;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  background-color: #c1c1c1;
}
.carousel-inner > .item > a > img { 
  margin: 0 auto; 
  height:450px;
}
.carousel-inner > .item > img { 
  margin: 0 auto; 
  height:450px;
}
.myarticlebody {
  margin: 0px 15px 10px;
  border-radius: 6px;
  padding:0px;
  background-color: rgba(238,238,238,.8);
  border: 1px solid rgba(86,61,124,.2);
  width: 70%;
  font-family: 'Roboto', sans-serif;
 }
.myarticletext {
    padding: 0px 20px;
}
.mybody {
  margin:10px;
  background-color: rgba(238,238,238,.8);
  border: 1px solid rgba(86,61,124,.2); 
}
#mybody {
  padding: 30px;
}
#right-sidebar {
  padding: 10px;
  width: 25%;
  margin: 0px 10px 10px;
}
.mybody>ul>li>a {
  color: #111;
  font-weight: bolder;
}
.myfooter {
  background-color: rgba(238,238,238,.5);
  border: 1px solid rgba(86,61,124,.2); 
  text-align: center;
}
.myfooter>a {
  color: #444;
}
.myhr {
  border-top-color: #d5d5d5;
  max-width: 90%;
  margin-top: 0px;
  margin-bottom: 0px;
}